# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.ipch
ipch/
*.obj
*.pch
*.exe
*.dll
*.log
*.cache
*.pdb
*.idb
*.class
*.tlog
*.lastbuildstate
*.opensdf
*.sdf
*.ncb

# Git
*.orig
*.swp
.DS_Store
Thumbs.db
